.service_register {
  margin-top: 5em;
  margin-bottom: 8em;
  margin-left: 28em;
  width: 40em;
  padding: 1.5em;
  border: 0.5px solid #cccccc;
}
.service_title {
  text-align: center;
  font-size: 1.5em;
}
.service_form {
  text-align: center;
  font-size: 1em;
}
